.resetpassword {
  font-family: var(--poppins-font);
  &__top {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    .icon_arrow {
      width: 31px;
      height: 20px;
      Img {
        width: 100%;
        height: 100%;
      }
    }
    h2 {
      width: 70%;
      margin: 0px auto;
      text-align: center;
      color: #1d1d1d;
      text-transform: capitalize;
      font-family: var(--poppins-font);
      font-size: 24px;
    }
  }

  &__form {
    margin: 0px auto;
    margin-top: 45px;
    width: 90%;
    height: 520px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 46px #6e6c5a6c;
    border: 1px solid #dddddd;
    border-radius: 10px;
    opacity: 1;
    ul.list {
      width: 50%;
      height: 12px;
      margin: 0px auto;
      margin-top: 35px;
      padding: 0px !important;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        display: inline-block;
        width: 30%;
        background-color: #6e6c5a6c;
        height: 100%;
        margin: 0px !important;
        border-radius: 10px;
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      li.active {
        background-color: var(--yello-color);
      }
    }
  }
}

// Reset Password Sections
.resetpassword {
  &__items {
    width: 60%;
    margin: 10px auto;
    text-align: center;
    input {
      color: #cccccc;
      text-transform: capitalize;
      height: 50px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background-color: #efefef;
    }

    .section_one {
      padding-top: 60px;
      .small_logo {
        width: 75pxx !important;
        height: 75px !important;
      }
      .input-group-phone {
        margin-top: 50px;
      }
      .button__send {
        margin-top: 60px;
        text-align: center;
        .btn {
          color: var(--white-color);
          background-color: var(--yello-color);
          text-transform: capitalize;
          font-size: 24px;
          padding: 15px 50px;
          width: 100%;
          height: 57px;
          line-height: 28px;
          border-radius: 10px;
          &:hover {
            background-color: var(--white-color);
            border: 3px solid var(--yello-color);
            color: var(--yello-color);
          }
        }
      }
    }
    .section_two {
      padding-top: 5px !important;
      .receive_img {
        width: 230px !important;
        height: 140px !important;
      }
      P {
        text-align: center;
        margin: 30px 0px 24px 0px;
        font-size: 16px;
        color: #1d1d1d;
        text-transform: capitalize;
        font-weight: 500;
      }
      p.first_contnent{
        text-align: center;
      }
      p.tahcend_contnent{
        text-align: left;
        a{
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

// E- Style About Component To Media Queris Large.
@media screen and (max-width: 991px) {
}

// E- Style About Component To Media Queris Samll.
@media screen and (max-width: 576px) {
}
