.profile {
    width: 400px;
    position: absolute;
    top: 2%;
    right: 12%;
    height: auto;
    background: #f3f3f3 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 26px #49473d40;
    border-radius: 5px;
    z-index: 10;
    font-family: var(--poppins-font);
    padding-bottom: 50px;
    .btn-close-profile {
        display: inline-block;
        margin: 10px;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
        }
    }
    .content {
        width: 95%;
        margin: 5px auto;
        text-align: center;
        .name {
            margin: 0px auto;

            .img {
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0px auto;
                border: 4px solid #ffffff;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }

                .input {
                    position: absolute;
                    z-index: 2;
                    background: #ffffff 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 6px #00000029;
                    line-height: 24px;
                    width: 27px;
                    height: 27px;
                    text-align: center;
                    border-radius: 50%;
                    bottom: 0px;
                    right: -10px;

                    input {
                        bottom: 0;
                        height: 100%;
                        opacity: 0;
                        position: absolute;
                        right: 0;
                        width: 100%;
                    }

                    img {
                        width: 15px;
                        height: 15px;
                        border-radius: 0px;
                    }
                }
            }

            .text {
                margin: 5px auto;
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.6px;
                color: #222222;
                text-transform: capitalize;
                opacity: 1;
            }
        }
    }
    .accordion {
        margin: 5px 0px;
        .card {
            box-shadow: 0px 1px 6px #FFFFFF;
            .card-header {
                h2 {
                    .btn-block {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        background-color: var(--white-color);

                        &:hover {
                            background-color: var(--white-color);
                            border: none;
                            box-shadow: none;
                        }
                        .img {
                            img {
                                width: 20px;
                                height: 20px;
                                margin-right: 10px;
                            }
                        }
                        .text,
                        .arrow {
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: 0.6px;
                            color: #222222;
                            text-transform: capitalize;
                            transform: rotate(90deg);
                        }
                    }
                }
            }
            .collapsed {
                .arrow {
                    transform: rotate(0deg);
                }
            }
            .card-body {
                .form-account {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: left;
                    .left,
                    .right {
                        width: 50%;
                        select {
                            width: 95%;
                            font-size: 14px;

                            option {
                                font-size: 14px;
                            }
                        }
                        span.label {
                            font-size: 12px;
                            font-weight: 500;
                            color: #8B8B8B;
                            text-transform: capitalize;
                            height: 20px;
                            margin-bottom: 5px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            text-transform: capitalize;

                            .btn-change {
                                color: #D94F4F;
                                cursor: pointer;
                            }
                        }
                        .input_edite {
                            width: 90%;
                            margin-bottom: 15px;
                            font-size: 12px;
                            padding: 0px 5px;
                            height: 30px;
                        }
                        .buttons {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            align-items: center;
                            margin-top: 34px;

                            .btn {
                                width: 45%;
                                font-size: 12px;
                                font-weight: 600;
                                text-transform: capitalize;
                                height: 35px;
                                border-radius: 5px;
                            }

                            .btn-cancel {
                                color: #D94F4F;
                            }

                            .btn-save {
                                color: #FFFFFF;
                                background: #F7942C 0% 0% no-repeat padding-box;
                            }
                        }

                        span.gender {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            label {
                                color: #222222;
                                text-transform: capitalize;
                                font-size: 12px;
                                font-weight: 550;
                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                .input-gender {
                                    margin-left: 5px;
                                    width: 15px;
                                    height: 15px;
                                    border: 2px solid #F7942C;
                                }
                            }
                        }
                    }

                    ul.bookings {
                        width: 100%;

                        li {
                            border-bottom: 1px solid #e3e1e1;
                            padding: 10px 0px;
                            font-family: var(--poppins-font);
                            color: #0D0D0D;
                            text-transform: capitalize;
                            font-size: 12px;
                            font-weight: 600;

                            &:last-of-type {
                                border-bottom: none;
                            }
                        }
                    }


                }
            }
        }
    }
    .btn-logout {
        margin: 10px 0px;
        text-align: left;
        .btn {
            color: #F22929;
            text-transform: capitalize;
            background-color: transparent;
            border: none;
            font-size: 14px;
            font-weight: 500;
            img {
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
            &:hover {
                background-color: transparent;
                border: none;
            }
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--yello-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--yello-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.saveditems {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .btn {
            font-size: 14px;
            font-weight: 600;
            font-family: var(--poppins-font);
            letter-spacing: 0.48px;
            color: #6D6D6D;
            text-transform: capitalize;
            background-color: transparent;
            border: none;

            &:hover {
                background-color: transparent;
                border: none;
            }
        }
    }

    &__content {
        height: 300px;
        overflow-y: auto;
        margin-top: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px auto;

        .btn-remove {
            font-size: 14px;
            font-weight: 500;
            font-family: var(--poppins-font);
            letter-spacing: 0.48px;
            color: #D94F4F;
            text-transform: capitalize;
            background-color: transparent;
            border: none;

            &:hover {
                background-color: transparent;
                border: none;
            }
        }

        .top {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
        }

        .detiles {
            width: 100%;
            height: 150px;
            border-radius: 5px;
            position: relative;

            .overload {
                position: absolute;
                top: 0%;
                left: 0%;
                background-color: rgb(0 0 0 / 56%);
                z-index: 1;
                width: 100%;
                height: 100%;
            }

            img.img-cover {
                width: 100%;
                height: 100%;
            }

            .top-icons {
                position: absolute;
                top: 10px;
                left: 10px;
                display: flex;
                flex-direction: column;
                z-index: 2;
                align-items: flex-start;

                .btn-villa {
                    background: #F7941D 0% 0% no-repeat padding-box;
                    border-radius: 3px;
                    opacity: 0.62;
                    border: none;
                    padding: 3px 8px;
                    font-size: 12px;
                    height: auto;
                }

                img {
                    margin: 5px 0px;
                    width: 15px;
                    height: 15px;
                }

                .text-icons {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                }
            }

            .top-right {
                font-family: var(--poppins-font);
                position: absolute;
                top: 10px;
                right: 10px;
                display: flex;
                flex-direction: column;
                z-index: 2;
                align-items: flex-start;
                color: #FFFFFF;
                font-size: 12px;

                span {
                    &:first-of-type {
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }

            .bottom {
                position: absolute;
                z-index: 2;
                bottom: 10px;
                color: #FFFFFF;
                font-size: 12px;
                font-weight: 500;
                text-transform: capitalize;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0px 10px;
                width: 100%;

                img {
                    width: 15px;
                    height: 15px;
                    margin-right: 2px;
                    filter: invert(40%) sepia(7%) saturate(3%) hue-rotate(1deg) brightness(1000%) contrast(100%);
                }

                .location,
                .amwag {
                    color: #FFFFFF;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
}



// 4- 1- Style Mask Component To Media Queris Large.
@media screen and (max-width: 991px) {
    .profile {
        top: 37%;
        right: 8%;
    }
}