/*
    1- Style Header Compunent
      1- 1- Style Header Component To Media Queris Large.
      1- 2- Style Header Component To Media Queris Samll.
    2- Style Top Rated Compunent
      2- 1- Style Top Rated  Component To Media Queris Large.
    3- Style Our Partners Compunent
      3- 1- Style Our Partners Component To Media Queris Large.
      3- 2- Style Our Partners ComponentTo Media Queris Samll.
    4- Style Mask Compunent 
      4- 1- Style Mask Component To Media Queris Large.
    5- Style Latest News Compunent
    6- Style Host Compunent .
      6- 1- Style Host Compunent To Media Queris Large.


*/

// 1- Style Header Compunent
header.header {
  background-image: url("../image/bg/header.png");
  background-size: cover;
  height: 100vh;
  nav.nav {
    border: none !important;
    background-color: transparent;
  }
  .container {
    height: 100%;
  }
  .headersearch {
    position: relative;
    height: 100%;
    .search {
      width: 100%;
      min-height: 100px;
      padding: 20px 10px;
      max-height: auto;
      background-color: #fafafa;
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translate(-50%, -20%);
      border-radius: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .input_location,
      .input_calendar {
        min-width: 25%;
        max-width: auto;
        height: 50px;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px #b0b0b052;
        border-radius: 13px;
        img {
          width: 27px;
          height: 38px;
        }
        input {
          width: 206px;
          height: 32px;
          border: none;
        }
      }

      button {
        background-color: var(--yello-color);
        color: var(--white-color);
        width: 15%;
        height: 50px;
        border-radius: 10px;
      }
    }
  }
}

// 1- 1- Style Header Component To Media Queris Large.
@media screen and (max-width: 991px) {
  header.header {
    .headersearch {
      .search {
        bottom: 20%;
        transform: translate(-50%, -30%);
        flex-direction: column;
        .input_location,
        .input_calendar {
          width: 70%;
          margin-bottom: 15px;
          input {
            width: 80%;
          }
        }
        button {
          width: 70%;
        }
      }
    }
  }
}

// 1- 2- Style Header Component To Media Queris Samll.
@media screen and (max-width: 576px) {
  header.header {
    .headersearch {
      .search {
        bottom: 40%;
        transform: translate(-50%, -30%);
        flex-direction: column;
        .input_location,
        .input_calendar {
          width: 70%;
          input {
            width: 80%;
          }
        }
      }
    }
  }
}

// 2- Style Top Rated Compunent
.toprated {
  margin: 50px 0px;
  font-family: var(--poppins-font);
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--poppins-font);
    margin-bottom: 35px;
    h4 {
      font-size: 28px;
      color: #0d0d0d;
      text-transform: capitalize;
    }
    a {
      color: var(--yello-color);
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      text-decoration: underline;
    }
  }

  &__carousel {
    height: 400px;
    .carousel-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 400px;
      .items_left {
        width: 48%;
        height: 400px;
        border-radius: 10px;
        position: relative;
        .overload {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #1c1c1c54;
          z-index: 1;
          border-radius: 10px;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
        .review {
          position: absolute;
          z-index: 3;
          top: 5%;
          left: 5%;
          display: flex;
          flex-direction: column;
          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
          span {
            font-size: 16px;
            &:first-of-type {
              color: #d9d9d9;
            }
            &:last-of-type {
              color: #ffffff;
            }
          }
        }

        .grouptwo {
          position: absolute;
          z-index: 3;
          top: 25%;
          left: 5%;
          display: flex;
          flex-direction: column;
          color: #ffffff;
          text-align: center;
          img {
            width: 30px;
            height: 30px;
            margin-bottom: 5px;
          }
        }

        .like {
          position: absolute;
          z-index: 3;
          top: 5%;
          right: 5%;
          width: 35px;
          height: 30px;
        }

        .bottom {
          position: absolute;
          z-index: 3;
          bottom: 3%;
          left: 0%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          color: var(--white-color);
          padding: 0px 15px;
          .cost {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1.54px;
            opacity: 1;
            span {
              font-weight: normal;
              font-size: 14px;
            }
          }
          .location {
            font-weight: normal;
            font-size: 14px;
            img {
              width: 20px;
              height: 20px;
            }
          }
          button {
            background: #f7941d 0% 0% no-repeat padding-box;
            border-radius: 3px;
            opacity: 0.9;
            color: var(--white-color);
          }
        }
      }
      .items_right {
        width: 48%;
        height: 400px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top,
        .bottom {
          height: 195px;
          width: 100%;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .imgone {
            width: 55%;
            height: 100%;
            position: relative;
            border-radius: 10px;
            .overload {
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: #202020b8;
              z-index: 1;
              border-radius: 10px;
            }
            .content {
              position: absolute;
              width: 100%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 3;
              text-align: center;
              a {
                text-transform: capitalize;
                color: var(--white-color);
                font-size: 20px;
                font-weight: 500;
                font-family: var(--poppins-font);
              }
            }
            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
          .imgtwo {
            width: 40%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }
        }
        .bottom {
          height: 48%;
          width: 100%;
        }
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      background-color: var(--white-color);
      color: black;
      box-shadow: 0px 0px 40px #8e8e8eb7;
      opacity: 1;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 18px;
      bottom: 45%;
      top: 45%;
      z-index: 7;
    }
    .carousel-control-prev {
      left: -2%;
    }
    .carousel-control-next {
      right: -2%;
    }
  }
}

// 2- 1- Style Top Rated  Component To Media Queris Large.
@media screen and (max-width: 991px) {
  .toprated {
    margin: 50px 0px;
    font-family: var(--poppins-font);
    &__header {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      h4 {
        margin-bottom: 10px;
      }
    }

    &__carousel {
      height: auto;
      .carousel-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        .items_left {
          width: 100%;
          height: auto;
          margin-bottom: 20px;
        }

        .items_right {
          width: 100%;
          height: auto;
          .top {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

// 3- Style Our Partners Compunent
.ourpartners {
  font-family: var(--poppins-font);
  h4 {
    font-size: 28px;
    color: #0d0d0d;
    text-transform: capitalize;
    margin-bottom: 35px;
  }

  &__imags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .img {
      width: 20%;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// 3- 1- Style Top Rated  Component To Media Queris Large.
@media screen and (max-width: 991px) {
  .ourpartners {
    &__imags {
      flex-wrap: wrap;
      .img {
        width: 40%;
        display: inline-block;
        margin-bottom: 40px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// 3- 2- Style Our Partners ComponentTo Media Queris Samll.

@media screen and (max-width: 576px) {
  .ourpartners {
    &__imags {
      flex-wrap: nowrap;
      flex-direction: column;
      .img {
        width: 80%;
        display: inline-block;
        margin-bottom: 40px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// 4- Style Mask Compunent
.mask {
  margin: 90px 0px;
  &__items {
    width: 100%;
    height: 400px;
    background: transparent url("../image/bg/mask.png") 0% 0% no-repeat
      padding-box;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
    height: 200px;
    width: 25%;
    background: var(--yello-color) 0% 0% no-repeat padding-box;
    box-shadow: 0px 39px 58px #b0b0b01c;
    border-radius: 65px;
    backdrop-filter: blur(23px);
    -webkit-backdrop-filter: blur(23px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    opacity: 0.6;
    img {
      width: 120px;
      height: 90px;
      margin-bottom: 15px;
    }
    span {
      letter-spacing: 0px;
      color: #ffffff;
      text-transform: capitalize;
      opacity: 1;
      font-size: 22px;
      font-family: var(--poppins-font);
    }
  }
}
// 4- 1- Style Mask Component To Media Queris Large.
@media screen and (max-width: 991px) {
  .mask {
    margin: 90px 0px;
    &__items {
      padding: 30px 0px;
      height: auto;
      flex-direction: column;
    }
    &__item {
      height: 200px;
      width: 70%;
      background: var(--yello-color) 0% 0% no-repeat padding-box;
      box-shadow: 0px 39px 58px #b0b0b01c;
      border-radius: 65px;
      opacity: 0.75;
      backdrop-filter: blur(23px);
      -webkit-backdrop-filter: blur(23px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--white-color);
      margin-bottom: 30px;
      img {
        width: 200px;
        height: 90px;
        margin-bottom: 15px;
      }
    }
  }
}

// 5- Style Latest News Compunent
.latestnews {
  font-family: var(--poppins-font);
  margin-bottom: 35px;
  h4 {
    font-size: 28px;
    color: #0d0d0d;
    text-transform: capitalize;
    margin-bottom: 35px;
  }
  .multiple-items {
    .item {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 8px #94949447;
      border: 1px solid #e2e2e2;
      border-radius: 10px;
      height: 350px;
      margin: 0px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      font-family: var(--poppins-font);
      padding: 15px 0px;
      .item__top {
        width: 95%;
        height: 100px;
        margin: 0px auto;
        background: #23a8df 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
      }
      .item__bottom {
        position: absolute;
        margin: 0px auto;
        width: 85%;
        height: auto;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 3px #d6d6d696;
        border-radius: 10px;
        opacity: 1;
        top: 80px;
        border: 1px solid #dddd;
        padding: 25px 15px;
        transition: all 3s;
        color: #1f1f1f;
        h6 {
          font-size: 18px;
          letter-spacing: 0px;
          text-transform: capitalize;
          opacity: 1;
          margin-bottom: 30px;
          transition: all 3s;
        }
        p {
          font-size: 14px;
          text-transform: capitalize;
          opacity: 1;
          margin-bottom: 30px;
          transition: all 3s;
        }
        button {
          background: #f7942c 0% 0% no-repeat padding-box;
          border-radius: 35px;
          opacity: 1;
          width: 65px;
          height: 38px;
          color: var(--white-color);
          transition: all 3s;
        }

        &:hover {
          background-color: var(--yello-color);
          color: var(--white-color);
          border: 1px solid var(--yello-color);
          button {
            background: var(--white-color) 0% 0% no-repeat padding-box;
            border-radius: 35px;
            opacity: 1;
            width: 65px;
            height: 38px;
            color: var(--yello-color);
          }
        }
      }
    }
    ul.slick-dots {
      display: flex;
      margin-top: 30px;
      justify-content: center;
      align-items: center;
      li {
        margin: 0px 5px;
        button {
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background: #e67a30 0% 0% no-repeat padding-box;
          opacity: 0.25;
          border: none;
          font-size: 0px;
        }
      }
      li.slick-active {
        button {
          opacity: 1;
          border: none;
        }
      }
    }
  }
}
// 6- Style Host Compunent .
.host {
  margin: 50px 0px;
  font-family: var(--poppins-font);
  &__header {
    text-align: center;
    h3 {
      letter-spacing: 0px;
      color: #0d0d0d;
      text-transform: capitalize;
      opacity: 1;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      color: #0d0d0d;
      text-transform: capitalize;
      opacity: 1;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    font-family: var(--poppins-font);
    .number {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-right: 15px;
      span {
        font-size: 90px;
        letter-spacing: 0px;
        color: #ededed;
        text-transform: capitalize;
        opacity: 1;
        font-weight: bold;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      text-align: left;
      .img {
        width: 60px;
        height: 60px;
        border-radius: 20px;
        background-color: var(--yello-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        img {
          width: 30px;
          height: 30px;
        }
      }

      .pargrh {
        h6 {
          letter-spacing: 0px;
          color: #0d0d0d;
          text-transform: capitalize;
          opacity: 1;
          font-size: 20px;
          font-weight: bold;
        }
        p {
          font-weight: normal;
          font-size: 16px;
          color: #6e6c5a;
        }
      }
    }
  }
  .buttons {
    button {
      width: 30%;
      background-color: var(--yello-color);
      color: var(--white-color);
      text-transform: capitalize;
      opacity: 1;
      font-family: var(--poppins-font);
      margin: 20px auto;
      height: 60px;
      font-size: 24px;
      text-align: center;
      border-radius: 10px;
    }
  }
}
// 6- 1- Style Host Compunent To Media Queris Large.
@media screen and (max-width: 991px) {
  .host {
    &__item {
      margin: 20px auto;
      justify-content: center;
      width: 80%;
    }
    .buttons {
      button {
        width: 90%;
      }
    }
  }
}

// 7- Style Home App Compunent .
.homeapp {
  margin: 140px 0px 200px 0px;
  background-color: var(--yello-color);
  font-family: var(--poppins-font);
  height: 300px;
  .container {
    height: 100%;
  }
  &__items {
    height: 100%;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .images {
      margin-right: 40px;
      height: 100%;
      padding: 1px;
      img {
        width: 270px;
        top: -35%;
        position: relative;
      }
    }
  }
  &__content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--white-color);
    padding: 10px 0px;
    font-family: var(--poppins-font);
    h4 {
      font-weight: bold;
      font-size: 24px;
    }
    p {
      font-size: 16px;
      font-weight: normal;
    }
    .imags {
      width: 90%;
      display: flex;
      flex-direction: row;
      img {
        width: 200px;
        height: 90px;
        margin-right: 5px;
      }
    }
  }
}
// 7- 1- Style Home App Compunent To Media Queris Large.
@media screen and (max-width: 991px) {
  .homeapp {
    height: auto;
    padding: 20px 0px;
    .container {
      height: 100%;
    }
    &__items {
      .images {
        display: none;
      }
    }
    &__content {
      width: 100%;
      h4 {
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 20px;
      }
      .imags {
        width: 90%;
        margin-bottom: 10px;
        img {
          width: 40%;
        }
      }
    }
  }
}

// 8- Style Money Compunent .
.money{
  margin: 50px 0px;
  font-family: var(--poppins-font);
  &__header {
    text-align: center;
    h3 {
      letter-spacing: 0px;
      color: #0d0d0d;
      text-transform: capitalize;
      opacity: 1;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      color: #0d0d0d;
      text-transform: capitalize;
      opacity: 1;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 30px;
    }
  }
  &__input{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    input{
      height: 50px;
      margin-right: 15px;
    }
    button{
      height: 50px;
      padding: 10px 20px;
      background-color: var(--yello-color);
      color: var(--white-color);
      font-size: 18px;
    }
  }
}
// 8- 1- Style Money Compunent To Media Queris Large.
@media screen and (max-width: 991px) {
  .money{
    &__input{
      input{
        margin-bottom: 15px;
        width: 100%;
      }
      button{
        width: 100%;
      }
    }
  }
}