@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 
    A- Variables Styles .
    B- Style Genaral Classes .
    E- Import Style Components .
      E-1- Import Style Navbar Component .
      E-2- Import Style About Us Page .
      E-3- Import Style Home Page .
      E-4- Import Style Footer Component .
      E-5- Import Style Projects Component .
      E-6- Import Style Project Component .
 */
/*

$primary-color: #072d4d;
$secondary-color: #f69c22;
$white-color: #ffffff;
$black-color: #000000;
$backgroundtwo: #eaeaea;
$red-color: red;
$green-color: #008f34;
$font14: 14px;
$font12: 12px;
$font18: 18px;
*/
// A- Variables Styles
// Palette Color
:root {
  --white-color: #ffffff;
  --yello-color: #f7942d;
  --black-color: #000000;
  // Font Family
  --poppins-font: "Poppins", sans-serif;
}
// B- Style Genaral Classes .
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  background-color: #fffefe;
  direction: ltr;
  margin: 0px !important;
}
.owl-stage-outer {
  direction: ltr !important;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

button:hover {
  background-color: inherit;
  color: inherit;
}
button:focus {
  background-color: inherit;
  color: inherit;
}

.container{
  max-width: 85% !important;
  margin: 0px auto
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
input[type='checkbox'] {
  accent-color: #f7942d !important;
}
input[type='radio']{
  accent-color: #f7942d !important;
}
// E- Import Style Components .
@import "../pages/details/_style.scss";

@import "./vendor/intlTelInput.scss";
@import "./compunent/_intl-tel-input.scss";


// E-1- Import Style Navbar Component .
@import "./_home.scss";
@import "./compunent/_navbar.scss";
@import "../pages/about/_style.scss";
@import "../pages/sign/_signup.scss";
@import "../pages/resetpassword/_modelpassword.scss";
@import "../pages/bookings/_style.scss";
@import "../pages/other/_style.scss";
@import "../pages/result/_style.scss";
@import "../pages/result/_range.scss";
@import "./compunent/_footer.scss";