/*
    1- Style About Header Compunent
      1- 1- Style About Header Component To Media Queris Large.
      1- 2- Style About Header Component To Media Queris Samll.
    2- Style About Host Compunent
*/

.about {
  font-family: var(--poppins-font);
  // 1- Style About Header Compunent
  &__header {
    background: transparent
      linear-gradient(221deg, #f9b767 0%, #f7942d 100%, #f7942c 100%) 0% 0%
      no-repeat padding-box;
    opacity: 1;
    height: 80vh;
    overflow: hidden;
    font-family: var(--poppins-font);

    .nav {
      background-color: white !important;
    }

    .top {
      margin-top: 40px;
      color: var(--white-color);

      p {
        width: 100%;
        text-align: left;
        font-size: 16px;
      }

      h4 {
        text-align: center;
        font-size: 18px;
        text-transform: capitalize;
      }
    }

    .imags {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      bottom: -50px;

      img {
        width: 75%;
        height: 500px;
        position: relative;
        margin: 0px auto;
      }
    }
  }

  // 2- Style About Host Compunent
  &__host {
    background: #eaeaea 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: var(--poppins-font);
    padding: 25px 0px;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      h4 {
        letter-spacing: 0px;
        color: #19191b;
        font-size: 22px;
        font-weight: bold;
        width: 25%;
      }

      p {
        width: 75%;
        letter-spacing: -0.63px;
        color: #696871;
        opacity: 1;
        font-size: 16px;
      }
    }
  }

  &__work {
    padding: 40px 0px;
    background-color: #f7f7f7;

    .header {
      text-align: center;
      margin-bottom: 50px;
      text-transform: capitalize;

      h5 {
        font-size: 20px;
        color: #0d0d0d;
        text-transform: capitalize;
        font-weight: bold;
        margin-bottom: 25px;
      }

      p {
        width: 60%;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 600;
        color: #696871;
      }
    }

    &__item {
      height: 500px;
      border-radius: 20px 20px 0px 0px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .first {
        width: 60%;
        margin: 50px auto;
        display: inline-block;
        margin-top: 40px;
      }

      .thacnd {
        width: 75%;
      }
    }

    .one {
      background: #01a79d 0% 0% no-repeat padding-box;
    }

    .two {
      background: #f7942c 0% 0% no-repeat padding-box;
    }

    .three {
      background: #0080f8 0% 0% no-repeat padding-box;
    }
    .content {
      text-align: center;
      padding: 30px 0px;
      h6 {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #19191b;
      }
      p {
        font-size: 16px;
        margin-top: 15px;
        letter-spacing: 0px;
        color: #696871;
        opacity: 1;
      }
    }
  }

  &__cards {
    font-family: var(--poppins-font);

    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 300px;
      margin: 40px 0px;

      .img {
        width: 35%;
        background: #9d9d9d 0% 0% no-repeat padding-box;
        height: 100%;
      }

      .text {
        width: 60%;
        text-align: left;

        h5 {
          font-size: 20px;
          font-weight: 600;
          color: #0b0b0b;
          text-transform: capitalize;
          margin-bottom: 15px;
        }

        p {
          font-size: 14px;
          letter-spacing: 0.12px;
          color: #4d4d4d;
          width: 85%;
        }
      }
    }
  }
}


// 1- 1- Style About Header Component To Media Queris Large.
@media screen and (min-width: 1400px) {
  
.about {
  &__header {
    height: 70vh;
  }}
}

// 1- 1- Style About Header Component To Media Queris Large.
@media screen and (max-width: 991px) {
  .about {
    font-family: var(--poppins-font);
    // 1- Style About Header Compunent
    &__header {
      height: 100vh;
      .top {
        margin-top: 20px;
        color: var(--white-color);
      }
    }

    // 2- Style About Host Compunent
    &__host {
      &__item {
        flex-direction: column;
        align-items: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
        h4 {
          margin-bottom: 20px;
        }
      }
    }

    &__work {
      margin: 30px 0px;
      padding: 60px 0px;

      .header {

        h5 {
          color: #0d0d0d;
          text-transform: capitalize;
          font-weight: bold;
          margin-bottom: 25px;
        }

        p {
          width: 60%;
          margin: 0 auto;
          font-weight: bold;
          color: #696871;
        }
      }

      &__item {
        height: 605px;
        border-radius: 20px 20px 0px 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .first {
          width: 60%;
          margin: 50px auto;
          display: inline-block;
          margin-top: 40px;
        }

        .thacnd {
          width: 75%;
        }
      }

      .one {
        background: #01a79d 0% 0% no-repeat padding-box;
      }

      .two {
        background: #f7942c 0% 0% no-repeat padding-box;
      }

      .three {
        background: #0080f8 0% 0% no-repeat padding-box;
      }
      .content {
        text-align: center;
        padding: 30px 0px;
        h6 {
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #19191b;
        }
        p {
          font-size: 16px;
          margin-top: 15px;

          letter-spacing: 0px;
          color: #696871;
          opacity: 1;
        }
      }
    }

    &__cards {
      font-family: var(--poppins-font);

      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin: 40px 0px;

        .img {
          width: 90%;
          margin: 20px auto;
          height: 300px;
        }

        .text {
          width: 90%;
          margin: 20px auto;
          text-align: center;
          p {
            width: 100%;
          }
        }
      }
    }
  }
}

