.other {
  background-color: #f2f5f4;
  padding: 1px;
  font-family: var(--poppins-font);
  padding: 40px 0px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;

    img {
      width: 200px;
      height: 100px;
    }

    h5 {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1.6px;
      color: #161616;
      opacity: 1;
      margin-top: 20px;
    }

    p {
      font-size: 16px;
      letter-spacing: 1.2px;
      color: #6e6c5a;
    }

    .btn {
      font-size: 18px;
      letter-spacing: 1.2px;
      background-color: transparent;
      border: 1px solid var(--yello-color);
      color: var(--yello-color);
      margin-top: 20px;
      width: 250px;
      height: 40px;
    }
  }
}

.cancellationpolicy {
  &__top {
    margin-top: 35px;
    display: flex;
    align-items: center;
    width: 100%;

    .icon_arrow {
      width: 29px;
    height: 14px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    h2 {
      width: 100%;
      color: #0d0d0d;
      text-align: center;
      text-transform: capitalize;
      font-family: var(--poppins-font);
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__content {
    width: 50%;
    margin: 60px auto;
    overflow-y: scroll;
    height: 600px;
    .lastupdated {
      font-size: 18px;
      letter-spacing: 0.72px;
      color: #f7942c;
      text-transform: capitalize;
      font-weight: 600;
    }
    .item {
      margin: 20px 0px;
      h5 {
        font-size: 16px;
        color: #161616;
        text-transform: capitalize;
        font-weight: 600;
      }
      p {
        width: 70%;
        font-size: 12px;
        color: #383737;
        text-transform: capitalize;
        font-weight: 600;
      }
    }
  }
}

// 4- 1- Style Mask Component To Media Queris Large.
@media screen and (max-width: 991px) {
  .other {
    &__item {
      h5 {
        font-size: 28px;
        margin-top: 20px;
      }

      p {
        font-size: 18px;
      }

      .btn {
        margin-top: 20px;
      }
    }
  }
}

// 1- 2- Style Footer Component To Media Queris Samll.
@media screen and (max-width: 576px) {
  .other {
    &__item {
      p {
        font-size: 16px;
      }
    }
  }
}
